a{
  text-decoration: none;
  display: inline-block;
  background-color: lightpink;
  color: darkred;
  padding: .5em 1.5em;
}

p{
  font-size: 18px;
  color: darkred;
}

.my-class{
  background-color: crimson;
}